.main {

            padding: 30px;
            border-radius: 10px;
        }
h1 {
            color: #2c3e50;
            text-align: center;
        }
.caption {
            text-align: center;
            font-size: 18px;
            color: #7f8c8d;
            margin-bottom: 30px;
        }
.description {
            font-size: 16px;
            color: #34495e;
            text-align: justify;
            margin-top: 20px;
        }
.center {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}